$color-1: #cdb4db; // Mobile
$color-2: #fff1e6; // Tablet
$color-3: #52b788; // Laptop
$color-4: #bee1e6; // Desktop

$mobile: 576px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;

* {
    margin: 0px 5px;
    padding: 0px;
    box-sizing: border-box;

    body{
        font-family: sans-serif;
    }
}

#size {
position: absolute;
top: 60%;
left: 50%;
transform: translateX(-50%);
color: red;
font-size: 35px;
}

.container{
height: 100vh;
}

.header{
height: 10%;
//border: 2px solid red;
display: flex;
flex-direction: row; // by default
justify-content: space-between;
align-items: center;

&__logo{   // same as .header__logo{}
font-size: 4vw;

}
&__menu{ // same as .header__menu{}
display: flex;
flex-direction: row; // by default
font-size: 2.5vw;
gap: 15px;

}

}

.main{
height: 80%;
// border: 2px solid black;
display: flex;
flex-direction: row; // by default

&__image{
background-image: url('./images/portrait00.jpg');
background-size: contain;
background-position: left center;
background-repeat: no-repeat;
width: 50%;
// border: 2px solid red;


}
&__text{
width: 50%;
// border: 2px solid red;
display: flex;
justify-content: center; // horizontal alignment if flex-direction is row
align-items: center; // vertically alignment if flex-direction is row
flex-direction: column; 

&-1{
    font-size: 8vw;
}
&-2,&-3,&-4{
    font-size: 4vw;
}


}

}

.footer{
height: 10%;
// border: 2px solid green;
display: flex;
flex-direction: row; // by default
align-items: center;
gap: 20px;
justify-content: flex-end;
margin-right: 10%;

[class ^="footer__"]{
    img{
        width: 5.3vw;
    }
}

}

@media (max-width:650px){
    .header{
        justify-content: center;
        &__logo{
            font-size: 40px;
        }
        &__menu{
            display: none;
        }
    }

    .main{
        flex-direction: column;
        justify-content: center; // vertical alignment/spacing if flex-direction is column
        align-items: center; //  horizontal alignment if flex-direction is column
        &__image{
            height: 200px;
            width: 200px;
            border-radius: 100%;
            background-size: 100%;
            background-position: center;

        }
        &__text{
            width: 100%;
            &-1{
                display:none;
            }
            &-2, &-3, &-4{
                font-size: 30px;
            }

        }
    }
    .footer{
        justify-content: center;
        margin: 0px;
        [class ^="footer__"]{
            img{
                width: 45px;
                height: 45px;
            }
        }
    }
}